body{
    margin: 0;
}
div{
    text-align: center;
    margin: auto;
    width: 15%;
    height: 5%;
    background-color: grey;

}
p{
    background-color: white;
    width: 50%;
    margin: auto;
}
table{
    width: 15%;
    height: 30%;
    margin: auto;
    background-color: grey;
    empty-cells: hide;
}
td{
    background-color: whitesmoke;
    border: 1px solid black;
    text-align: center;
}
td :hover{
    background-color: black;
    border: 1px solid black;
    color: white;
    text-align: center;
}